[project]
	description = Fork of http://state-threads.sourceforge.net/
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/michaeltalyansky
[access "refs/for/refs/*"]
	read = group user/michaeltalyansky
	push = group user/michaeltalyansky
	label-Code-Review = -2..+2 group user/michaeltalyansky
	label-Verified = -1..+1 group user/michaeltalyansky
	rebase = group user/michaeltalyansky
	removeReviewer = group user/michaeltalyansky
	submit = group user/michaeltalyansky
[access "refs/heads/*"]
	read = group user/michaeltalyansky
	create = group user/michaeltalyansky
	push = +force group user/michaeltalyansky
	pushMerge = group user/michaeltalyansky
[access "refs/tags/*"]
	push = +force group user/michaeltalyansky
	pushTag = group user/michaeltalyansky
	pushSignedTag = group user/michaeltalyansky
